*,
*::before,
*::after {
  box-sizing: border-box;
}
.p {
  margin: 0;
}
.h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  width: 1158px;
}
.picture {
  display: block;
  max-width: 100%;
}
.img {
  display: block;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo-nav {
  border-bottom: 1px solid #e7e9fc;
}
.logo-header {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.logo-navigation {
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-part-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}
.list-link {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 24 40 24 332;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.section-button {
  text-align: center;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.button-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
  color: #ffffff;
}

.button-link:hover,
.button-link:focus {
  background-color: #404bbf;
}
.button-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  margin: auto;
}
.section-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.description-main {
  padding-top: 188px;
  padding-bottom: 188px;
}

.description-h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description-list {
  display: flex;
  gap: 24px;
}
.description-item {
  width: calc((100% - 72px) / 4);
}
.description-title {
  margin-bottom: 8px;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.team-img-list {
  display: flex;
  gap: 24px;
}
.first-name {
  padding: 32px 0;
}
.second-name {
  padding: 32px 0;
}
.third-name {
  padding: 32px 0;
}
.fourth-name {
  padding: 32px 0;
}
.information .team-text {
  text-align: center;
}
.team-list {
  background-color: #ffffff;
  margin: auto;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.section-apps {
  padding-top: 120px;
  padding-bottom: 120px;
  border-width: 1px, 1px, 1px, 1px;
  border-style: solid;
  border-color: #e7e9fc;
}

.apps-service {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.apps-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.apps-item {
  width: calc((100% - 48px) / 3);
}
.banking-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.payment-cash {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.meditation-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.taxi-service {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.screen-illustration {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.courses-online {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.apps-picture {
  background-color: #f4f4fd;
}

.apps-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.apps-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-logo {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
}
.logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
